{
  "env": {
    "esm": {
      "presets": [
				"github"
			]
    },
    "umd": {
      "plugins": [
        ["@babel/plugin-transform-modules-umd", {
          "globals": {
            "selector-set": "SelectorSet"
          }
        }],
				["@babel/plugin-transform-named-capturing-groups-regex"],
    		["@babel/plugin-transform-unicode-regex"]
      ],
      "moduleId": "gitrows",
      "presets": ["github"]
    }
  }
}
